body{
    margin: 0%;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: rgb(43, 0, 54);
}
.calender-container{
    background-color: rgb(164, 133, 197);
    width: 400px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 5px 8px rgba(0,0,0,.3);
    overflow: hidden;
}
.month-name{
    background-color: rgb(153, 11, 103);
    margin: 0;
    color: antiquewhite;
    padding: 10px;
    font-size: x-large;
    font-style: italic;

}
.day-name{
    font-size: 30px;
}
.day-num{
    font-size: 90px;
    margin: 0;
    font-weight: bold;
}
.year{
    font-size: 20px;
    font-weight: bold;
}